/* App.css */

/* Formulario */
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button.add {
  background-color: #2196f3; /* Azul primario */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px; /* Añadido para dar espacio después del botón */
}

button.add:hover {
  background-color: #1565c0; /* Azul oscuro al pasar el ratón */
}

button.close {
  background-color: #f44336; /* Rojo primario */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.close:hover {
  background-color: #ba0c2f; /* Rojo oscuro al pasar el ratón */
}

/* Tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #2196f3; /* Azul primario */
  color: white;
}

/* Estilos para el botón de submit */
form button[type="submit"] {
  background-color: #2196f3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #1565c0;
}
.seemore {
  background-color: #4caf50; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 15px; /* Relleno interno */
  text-align: center; /* Alineación de texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; /* Bordes redondeados */
}

.seemore:hover {
  background-color: #45a049; /* Cambiar color de fondo al pasar el ratón */
}

/* Media Query para pantallas pequeñas (ej. teléfonos) */
@media only screen and (max-width: 600px) {
  form {
    max-width: 100%;
  }

  table {
    width: 100%;
  }

  /* Agrega más ajustes según sea necesario */
}
