form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button.add {
  background-color: #2196f3; 
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px; 
}

button.add:hover {
  background-color: #1565c0; 
}

button.close {
  background-color: #f44336; 
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.close:hover {
  background-color: #ba0c2f;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto; 
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #2196f3; 
  color: white;
}

form button[type="submit"] {
  background-color: #2196f3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #1565c0;
}
.seemore {
  background-color: #4caf50;
  color: white; 
  border: none; 
  padding: 10px 15px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; 
}

.seemore:hover {
  background-color: #45a049; 
}

.search-section {
  margin-top: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #f0f0f0; 
  padding: 10px; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.search-section label {
  margin-right: 10px;
}

.search-section select,
.search-section input[type="text"],
.search-section button {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-section select {
  background-color: #fff; 
}

.search-section input[type="text"] {
  width: 200px;
  border: 1px solid #ccc;
}

.search-section button {
  background-color: #2196f3; 
  color: white;
}

.search-section button:hover {
  background-color: #1565c0;
}

.content-container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 20px; 
}
@media only screen and (max-width: 600px) {
  form {
    max-width: 100%;
  }
  .content-container {
    max-width: 100%;
    padding: 10px; 
  }
}
